**/bin/
**/obj/
**/deploy/
**/#deploy/
**/###Upload###/
.idea/
/dicts/
/settings/
state.json
state.json.prev
httplogs/
logs/
tools/
!Focus.Dm/Focus.Dm.Utils/Logs/
!Focus.Dm/Focus.Dm.HoustonUtils/Logs/
!FocusFunctionalTest/Magic/Tools/
!FocusFunctionalTest.Commons/Magic/Tools/
*.nupkg
.vscode/

packages/
.vs/
.idea/
node_modules/

*.user
*.suo
*.orig

*.log
*.nupkg

AssemblyTitle.cs
AssemblyVersion.cs
revision.txt
Externals/Web/nodejs/node6/*
/ElFeederBase/*.nuget
/*.nupkg
package-lock.json

/UpgradeLog.htm

/Properties/launchSettings.json

/Compass.WebApi/logs
/format-report.json

.DS_Store
Ecomads/nginx
serts
deploy-script.sh
deploy.tar
mvp-test-23.04.26.rar