**/.git/
**/.idea/
**/.vs/
**/bin/
**/obj/
**/node_modules/

artifacts/
TestConsoleApp/bin/
TestConsoleApp/obj/

Ecomads.WebApplication/ClientApp/dist/
Ecomads.WebApplication/wwwroot/app/
Ecomads.WebApplication/appsettings.json
Ecomads.WebApplication/appsettings.Development.json
